figure {
float:right;
margin-left:1%;
margin-right:1%;
text-align:center;
}

.left_side {
vertical-align: top;
}

figure img {
height:200px;
width:150px;
}

.comment_content {
margin-bottom:5%;
}

.formulary textarea {
	text-align:center;
}

.comment_add {
	border-top : 3px rgb(113,127,133) solid;
}