/* Permet de centrer toute la page */
body {
	background: url("fondBeige.jpg");
	margin-left:auto;
	margin-right:auto;
	width:80%;
}

header {
	position: relative;
	border: 2px solid black;
	border-radius: 0.5em;
	margin-top: 2%;
	margin-bottom:2%;
}

header #bg{
	width:100%;
	background-image: url("film.png");
	background-size:100% 100%;
	background-position:center center;
	display:inline-block;
	height:120px;
	vertical-align:middle;
}

#bg p:first-child {
	position:relative;
	left:7%;
	width:30%;
	color:#000090;
	background-color:white;
	opacity:0.5;
	/*filter:alpha(opacity=50); Normalement pour IE 5-7 mais est détecté comme erreur par le valadiateur */
	border-radius:0.5em;
	font-size:1.4em;
	/* Pour centrer le titre de la page, il faut centrer l'élément de type block contenant le titre */
	height:50%;
	line-height:50%;
	text-align:center;
}

span { 
  width:100%; /* largeur zone de texte */
  vertical-align:middle;
  display:inline-block;
  line-height:normal; /* on rétablit le line-height */
  text-align:center; /* ... et l'alignement du texte */
  font-family:Impact, fantasy
}

header nav ul{
	position: absolute;
	right: 2.5%;
	bottom: 0%;
	margin-bottom: 0.4%; 
}

/* La barre de navigation est en mode horizontal par défaut */	
header nav li {
	display: inline;
	border: 2px solid black;
	border-bottom: none;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	padding: 5px 1px;
}


header a {
	color: #000090;
}

/* La classe content contient toute la page excepté le header et le footer */
.content {
	border-top:3px rgb(113,127,133) solid;
	border-bottom:3px rgb(113,127,133) solid;
	margin-top:1%;
	padding-bottom:2%;
}

article p,.comment_content p {
	text-align: justify;
}
/* La classe left_side contient tout ce qui est à gauche, donc ne contient pas la barre de recherche */
.left_side {
	width: 60%;
	margin-top: 1.5%;
	display: inline-block;
	vertical-align: middle;
	margin-left:auto;
	margin-right:auto;
}

/* aside correspond à la barre de recherche */
aside {
	width:20%;
	display: inline-block;
	vertical-align: top;
	background-color:rgb(218,220,224);
	font-family: Verdana, Geneva, sans-serif;
	margin-left:10%;
}

aside,aside input {
	text-align:center;
}

aside input {
	width:70%;
}
aside h2 {
	padding-left:5%;
	padding-right : 5%;
}

footer {
	margin-top:0%;
}

footer p {
	margin-left:6.67%;
}

figure img{
	min-width:150px; /* 240 px est la largeur minimale d'un smartphone */
	display: block;
	margin-left: auto;
	margin-right: auto; 
	width:256px;
}

figcaption{
	margin-top:2%;
	text-align:center;
	font-style:italic;
}

footer img {
	float:right;
	height:5em;
	width:5em;
}

/* permet d'espacer tous les champs de formulaires de toutes les pages */
form {
	padding-bottom:5%;
}

/* La classe comment_content contient tous les commentaires */
.comment_content {
	border-radius:0.5em;
	border:2px solid black;
	background-color:rgb(218,220,224);
	margin-left:10%;
	padding-left:10%;
	padding-right:10%;
}

/* Permet de colorer le pseudo du commentateur */
.comment_content>p:first-child {
	color:blue;
}

/* Permet de colorer la date */
.comment_content>p:nth-child(2) {
	color:white;
}

.left_side h1 {
	margin-top:0%;
	font-family:'Comic Sans MS', cursive;
	font-size:150%;
}

/* Le deuxième background sans image de fond n'est pas affiché en écran standard */
header #bg2 {
	display:none;
}

/* Media Queries : nous avons fixé une première largeur maximale à 800 px car c'est à cette largeur que l'ergonomie n'est plus adaptée*/
@media screen and (max-width: 800px) {
	* { margin: 0; padding: 0; }
	
	/* On n'affiche plus le background avec l'image de fond */
	header #bg {
		display:none;
	}
	
	header #bg2{
		width:100%;
		display:inline-block;
		height:5em;
		vertical-align:middle;
	}

	#bg2 p:first-child {
		color:#000090;
		border-radius:0.5em;
		font-size:1.4em;
		height:70px;
		line-height:70px;
		text-align:center;
	}

	#bg2 span { 
		  width:100%; /* largeur zone de texte */
		  vertical-align:middle;
		  display:inline-block;
		  line-height:normal; /* on rétablit le line-height */
		  text-align:center; /* ... et l'alignement du texte */
		  font-family:Impact, fantasy
	}

	.content {
		display:block;
		border-top:none;
		margin-left: auto;
		margin-right: auto;
		width: 100%; /* largeur obligatoire pour être centré */
	}
	
	.left_side {
		width: 100%;
		margin-top: 2%;
		display: inline-block;
		vertical-align: middle;
		margin-left:auto;
		margin-right:auto;
	}
	
	.left_side h1 {
		text-align:center;
	}
	
	header nav{
		float: left;
		margin: 0 0 2%; 
		width: 100%;
	}	
	header nav ul{
		right: 0px;
		position:relative;
		width: 100%;
	}
	
	header nav li {
		display: block;
		margin-bottom: 2%;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
	}
	
	header nav li:nth-child(4){
		border-bottom:2px solid black;
	}
	header nav a {
		display: block;
		padding: 2%;
		text-align: center;
	}		
	
	aside{
		min-width:30%;
		margin-top:2%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:30%;
	}
	
	figure {
		margin-top:2%;
		margin-bottom:2%;
	}
	
	.content .left_side article p+a {
		position:relative;
		left:42%;
	}
	
	.comment_header {
		margin-top:2%;
	}
	
	.comment_content {
		margin-top:2%;
		margin-left:auto;
	}
	
	footer p {
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:50%;
	}
	
	/* Pour que le body reprenne toute la largeur de l'écran */
	body {
		width:auto;
	}
	
	aside input {
		width:80%;
	}
	
	footer p {
		text-align:center;
	}
}

/* A partir de 360 px, la barre de recherche est trop petite et le logo de Lyon 1 prend trop de place */
@media screen and (max-width: 360px) {
	aside {
		min-width:75%;
	}
	
	footer img {
		float:none;
		display: block;
		margin-left: auto;
		margin-right: auto; 
		width:30%;
	}
}



